:root {
    --lightest: #CAF0F8;
    --light: #90E0EF;
    --regular: #00B4D8;
    --dark: #03045E;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--light);
}

h1 {
    font-weight: 900;
}

button:hover {
    cursor: pointer;
    font-weight: 900;
}

.box {
    background-color: var(--lightest);
}